@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?l9qf3i');
  src:  url('fonts/icomoon.eot?l9qf3i#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?l9qf3i') format('truetype'),
    url('fonts/icomoon.woff?l9qf3i') format('woff'),
    url('fonts/icomoon.svg?l9qf3i#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-listen .path1:before {
  content: "\e921";
  color: rgb(204, 209, 219);
}
.icon-listen .path2:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(31, 36, 48);
}
.icon-A:before {
  content: "\e923";
}
.icon-add:before {
  content: "\e924";
}
.icon-arrow:before {
  content: "\e925";
}
.icon-back:before {
  content: "\e926";
}
.icon-book1:before {
  content: "\e927";
  color: #666;
}
.icon-book2:before {
  content: "\e928";
}
.icon-book3:before {
  content: "\e929";
}
.icon-bright:before {
  content: "\e92a";
}
.icon-ch:before {
  content: "\e92b";
}
.icon-check:before {
  content: "\e92c";
}
.icon-clock:before {
  content: "\e92d";
  color: #666;
}
.icon-down:before {
  content: "\e92e";
}
.icon-download:before {
  content: "\e92f";
}
.icon-en:before {
  content: "\e930";
}
.icon-export:before {
  content: "\e931";
}
.icon-eye1:before {
  content: "\e932";
}
.icon-eye2:before {
  content: "\e933";
}
.icon-fail:before {
  content: "\e934";
}
.icon-forward:before {
  content: "\e935";
}
.icon-left:before {
  content: "\e936";
}
.icon-lines:before {
  content: "\e937";
}
.icon-mark:before {
  content: "\e938";
}
.icon-no1:before {
  content: "\e939";
}
.icon-no2:before {
  content: "\e93a";
}
.icon-person:before {
  content: "\e93b";
}
.icon-phone:before {
  content: "\e93c";
}
.icon-points:before {
  content: "\e93d";
}
.icon-pro:before {
  content: "\e93e";
}
.icon-progress:before {
  content: "\e93f";
}
.icon-remove:before {
  content: "\e940";
  color: #4d4d4d;
}
.icon-right:before {
  content: "\e941";
}
.icon-search:before {
  content: "\e942";
}
.icon-sound:before {
  content: "\e943";
  color: #8997b2;
}
.icon-start:before {
  content: "\e944";
}
.icon-stop:before {
  content: "\e945";
}
.icon-this:before {
  content: "\e946";
  color: #525c6a;
}
.icon-up:before {
  content: "\e947";
}
.icon-yes:before {
  content: "\e948";
}
.icon-yes2:before {
  content: "\e949";
}
.icon--16:before {
  content: "\e900";
  color: #8997b2;
}
.icon-21:before {
  content: "\e901";
}
.icon--15:before {
  content: "\e902";
}
.icon-20:before {
  content: "\e903";
}
.icon-19:before {
  content: "\e904";
}
.icon-1:before {
  content: "\e905";
}
.icon--1:before {
  content: "\e906";
}
.icon--11:before {
  content: "\e907";
  color: #4d4d4d;
}
.icon--12:before {
  content: "\e908";
}
.icon-2:before {
  content: "\e909";
}
.icon-3:before {
  content: "\e90a";
  color: #525c6a;
}
.icon-4:before {
  content: "\e90b";
}
.icon-5:before {
  content: "\e90c";
}
.icon-6:before {
  content: "\e90d";
}
.icon-7:before {
  content: "\e90e";
}
.icon-8:before {
  content: "\e90f";
}
.icon-9:before {
  content: "\e910";
}
.icon-17:before {
  content: "\e911";
}
.icon-10:before {
  content: "\e912";
}
.icon-11:before {
  content: "\e913";
}
.icon-12:before {
  content: "\e914";
}
.icon-13:before {
  content: "\e915";
}
.icon--13:before {
  content: "\e916";
}
.icon-14:before {
  content: "\e917";
}
.icon--2:before {
  content: "\e918";
}
.icon---:before {
  content: "\e919";
}
.icon-15:before {
  content: "\e91a";
}
.icon-16:before {
  content: "\e91b";
}
.icon--:before {
  content: "\e91c";
}
.icon--14:before {
  content: "\e91d";
}
.icon-18:before {
  content: "\e91e";
  color: #666;
}
.icon-uniE91F .path1:before {
  content: "\e91f";
  color: rgb(204, 209, 219);
}
.icon-uniE91F .path2:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(31, 36, 48);
}
